body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

button {
    width: 100px;
    border: none;
    background-color: navy;
    color: white;
    border-radius: 5px;
    text-align: center;
    height: 30px;
}

button:hover {
    width: 100%;
    border: none;
    background-color: navy;
    color: white;
    border-radius: 5px;
    text-align: center;
    height: 30px;
    box-shadow: 14px 6px 32px -8px rgba(0, 0, 0, 0.81);
        -webkit-box-shadow: 14px 6px 32px -8px rgba(0, 0, 0, 0.81);
        -moz-box-shadow: 14px 6px 32px -8px rgba(0, 0, 0, 0.81);
}
 